@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textMain min-h-screen font-sans;
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-borderContent rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
